.TD-Footer{
    background-color: rgba(0, 0, 0, 0.678);
    grid-area: Footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.peliculas{
    height: 280px;
    display: flex;
    justify-content: center;
}
.peliculas:hover{
    box-shadow: rgb(189, 9, 9) 0px 0px 15px 15px;
    cursor: pointer;
    zoom: 1.4;
    border-radius: 50px;
}
@media(max-width: 800px) {
    .TD-Footer{
        grid-area: Footer;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: scroll;
        background-color: rgb(0, 0, 0);
    }
    .peliculas{
        height: 180px;
        display: flex;
        margin-top: 0px;
        align-items: center;
        margin: 15px;
        border: solid white 1px;
    }
    .peliculas:hover{
        border: solid 1px white;
        height: 190px;
        box-shadow: rgb(189, 9, 9) 0px 0px 15px 15px;
        cursor: pointer;
        zoom: 1;
        border-radius: 30px;
    }   
}
