.Container-App{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10%;
    grid-template-rows: 70%;
    grid-template-areas: 
    "Aside Main Main"
    "Aside Footer Footer"
    ;
}

@media (max-width: 800px) {
    .Container-App{
        grid-template-columns: 20%;
        grid-template-rows: 10% 50% 40%;
        grid-template-areas: 
        "Aside Aside"
        "Main Main"
        "Footer Footer"
        ;
    }
}